*{
    margin: 0;
    padding: 0;
}
ul.nav{
    padding-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav li { 
    float: left;
}

ul.nav a {
    display: block;
    width: 5em;
    padding:10px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border: 1px dashed #333;
    text-decoration: none;
    color: #333;
    text-align: center;
}
ul.nav a:hover{
    background-color: rgb(14, 80, 155);
    color: #f4f4f4;
}
.NavDiv{
    height: 90px;
    background: rgb(43, 39, 39);
}

.LoginNavigation{
    color: rgb(14, 80, 155);
    text-align: center;
}
