.calendarDay{
    border: 1px solid gray;
    float: left;
    width: 202px;
    height: 100px;
    color: black;
    margin: 0;
    text-align: inherit;
}
.listItem{
    width: 1600px;
}
.calendarDay > h6{
    text-align: inherit;
    margin-top: -40px;
    color: grey;
}
.calendarDay > p{
    font-size: 12px;
}
.flexH{
    display: flex;
}
.flexH>button{
    font-size: 20px;
    background: none;
    color: black;
    border: 1px double grey;
    height: 30px;
    width: 30px;
    padding: 0;
}
.flexH>h4{
    padding-top: 15px;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
}
.calendarDay > h6{
    float: inherit;
}
.calendarPadding{
    padding: 10px;
    width: 1414px;
}
.buttonSeach{
    background: none;
    font-size: 22px; 
    
}
.callendarButton{

}
.divSeach{
    float: right;
    
}